@use './tokens.scss';

.large-navbar-space {
    width: 100%;
    height: calc(tokens.$size-sem-navbar-height + 20px);
}

.navbar-space {
    width: 100%;
    height: tokens.$size-sem-navbar-height;
}

.content-bounded {
    background: tokens.$colors-neutral-white;
    margin: tokens.$size-sem-content-margin auto;
    min-width: 200px;
    max-width: 1000px;
    padding: tokens.$size-sem-content-padding;

    &.flex {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    gap: 100px;
    align-items: center;
    padding: tokens.$size-sem-content-padding;
    box-sizing: border-box;
    &.wrap {
        flex-wrap: wrap;
    }
    
    &.center {
        justify-content: center;
    }

    &.gap-none {
        gap: 0;
    }

    
    &.padding-none {
        padding: 0;
        gap: 0;
    }

    &.space-between {
        justify-content: space-between;
    }

    @media only screen and (min-width: 1150px) {
        flex-direction: row;
        gap: 30px;
        &.padding-none {
            gap: 0;
        }

        &.wide-flex-col {
            flex-direction: column;
            align-items: left;
        }
    }
}

.content-row {
    display: flex;
    flex-direction: row;
    gap: 30px;

    @media only screen and (min-width: 1150px) {
        flex-direction: column;
    }
}

.col-100 {
    width: 100%;
    min-width: 600px;
    display:flex;
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
    align-items: flex-end;
}
  
.justify-center {
    align-items: center;
    text-align: center;
}
  
.button-row {
    display: flex;
    flex-direction: row;
    // position: absolute;
    // left: 0;
    // bottom: 0;
    gap: tokens.$size-spacing-4;
    width: 100%;
    padding: tokens.$size-spacing-4;
    box-sizing: border-box;

    &.align-right {
        justify-content: flex-end;
    }

    &.space-between {
        justify-content: space-between;
    }
}

.button-box {
    width: tokens.$size-text-36;
    height: tokens.$size-text-36;
}