@use './tokens.scss';

.bg-light {
  background: tokens.$colors-neutral-cloud;
}

.bg-white {
  background: tokens.$colors-neutral-white;
}

.bg-dark {
  background: tokens.$colors-neutral-lightblack;
}

.nav-space {
  margin-top: tokens.$size-sem-navbar-height;
}

.home-bg {
  width: 100%;
  height: 1626px;
  flex-shrink: 0;
  background: radial-gradient(177.12% 815.85% at -10.69% 88.83%, var(--colors-primary-fuschia, #C33FC6) 2.81%, var(--colors-primary-peony, #F1CAED) 28.97%, var(--colors-primary-fuschia, #C33FC6) 76.25%);
  mask-image: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.92) 26.58%, rgba(0, 0, 0, 0.16) 64.08%, rgba(0, 0, 0, 0.00) 94.93%);
  position: aboslute;
  z-index: -1;
}
.spacer-sm {
  height: 50px;
}

.spacer-md {
  height: 100px;
}

.spacer-lg {
  height: 200px;
}