@use './tokens.scss';

.link {
    color: tokens.$colors-primary-green;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    white-space: nowrap;

    &.nav-link {
        margin-right: 2rem;
        color: tokens.$colors-neutral-darkgray;

        &:hover {
            color: tokens.$colors-green-shade-2;
        }
    
        &:active {
            color: tokens.$colors-neutral-mediumgray;
        }

        &.selected {
            color: tokens.$colors-green-shade-2;

            &:hover {
                color: tokens.$colors-neutral-mediumgray;
            }
        
            &:active {
                color: tokens.$colors-neutral-darkgray;
            }
        }

    }

    &.nav-menu-link {
        flex-direction: column;
        margin-right: 0px;
        padding: tokens.$size-spacing-2 tokens.$size-spacing-4;
        border-radius: tokens.$size-radius-4px;

        &.selected {
            color: tokens.$colors-primary-green;

            &:hover {
                color: tokens.$colors-green-tint-1;
            }
        
            &:active {
                color: tokens.$colors-green-tint-2;
            }
        }
    }

    &.nav-title-link {
        color: tokens.$colors-primary-green;
        flex-direction: column;
        margin-right: 0px;
        padding: tokens.$size-spacing-2 tokens.$size-spacing-4;
        border-radius: tokens.$size-radius-4px;

        &:hover {
            color: tokens.$colors-green-tint-1;
        }
    
        &:active {
            color: tokens.$colors-green-tint-2;
        }
    }

    

                &:hover {
                    color: tokens.$colors-green-tint-1;
                }
            
                &:active {
                    color: tokens.$colors-primary-green;
                }
}
