@use './tokens.scss';
@use './token-map.scss';

.cls-1, .cls-2 {fill: #8ec02e;}

.cls-2 {
  stroke: #8ec02e;
  stroke-miterlimit: 10;
  stroke-width: tokens.$size-spacing-3;
}

.star-svg-1 {
  fill: none;
  stroke: #231f20;
}

.star-svg-1, .star-svg-2 {
  stroke-miterlimit: 10;
  stroke-width: tokens.$size-spacing-8;
}

.star-svg-3 {
  fill: #fff;
}

.star-svg-2 {
  fill: #f1f5a5;
  stroke: #b3e48e;
}

.logo {
  height: tokens.$size-text-70;
}

.star-logo {
  height: tokens.$size-text-45;
}