.retro-window {
  position: absolute;
  top: 126px;
  left: 388px;
}

.retro-window-sm {
  position: absolute;
  top: 126px;
  right: 0px;
}

.retro-grid {
  position: absolute;
  top: 0px;
  left: 0px;
}

.retro-grid-sm {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 488px;
}

.innovate-logo {
  position: absolute;
  top: 347px;
  left: calc(50% - 334px);
}
