:root {
  --colors-neutral-white: #FFFFFF;
  --colors-neutral-cloud: #F7F7F8;
  --colors-neutral-lightmist: #F0EEF6;
  --colors-neutral-mist: #E8E3FF;
  --colors-neutral-deepfog: #C7C1EA;
  --colors-neutral-darkgray: #575466;
  --colors-neutral-lightblack: #282536;
  --colors-neutral-black: #181622;
  --colors-primary-1: #871189;
  --colors-primary-plum: #430044;
  --colors-primary-grape: #69056A;
  --colors-primary-violet: #9F2EA0;
  --colors-primary-fuschia: #C33FC6;
  --colors-secondary-1: #FF80F3;
  --colors-secondary-marshmallow: #FCF7FB;
  --colors-secondary-babypink: #FFE4FC;
  --colors-secondary-peony: #F1CAED;
  --colors-secondary-bubblegum: #FFAEF7;
  --colors-accent-1: #FFC045;
  --colors-accent-highlight: #F9EDD7;
  --colors-accent-sunlight: #FFDFA1;
  --colors-accent-honey: #FFCE70;
  --colors-accent-goldenrod: #E49C0F;
  --size-spacing-1: 0.0625rem;
  --size-spacing-2: 0.125rem;
  --size-spacing-4: 0.25rem;
  --size-spacing-8: 0.5rem;
  --size-spacing-16: 1rem;
  --size-spacing-32: 2rem;
  --size-spacing-64: 4rem;
  --size-spacing-72: 5rem;
  --size-spacing-none: 0rem;
  --size-radius-none: 0rem;
  --size-radius-4px: 0.25rem;
  --size-radius-8px: 0.5rem;
  --size-radius-16px: 1rem;
  --size-radius-32px: 2rem;
  --size-radius-48px: 3rem;
  --size-radius-64px: 4rem;
  --size-text-12: 0.75rem;
  --size-text-16: 1rem;
  --size-text-18: 1.125rem;
  --size-text-23: 1.4375rem;
  --size-text-29: 1.8215rem;
  --size-text-36: 2.25rem;
  --size-text-45: 2.8125rem;
  --size-text-56: 3.5rem;
  --size-text-70: 4.375rem;
  --size-text-88: 5.5rem;
  --size-text-96: 6rem;
  --size-sem-content-padding: 3rem;
  --size-sem-content-margin: ;
  --size-sem-navbar-height: 4rem;
}
