:root {
  --colors-neutral-white: #FFFFFF;
  --colors-neutral-light: #FAF9F5;
  --colors-neutral-lightgray: #D0D0D0;
  --colors-neutral-mediumgray: #838383;
  --colors-neutral-darkgray: #525252;
  --colors-neutral-lightblack: #292929;
  --colors-neutral-black: #000000;
  --colors-primary-green: #8DD05B;
  --colors-secondary-yellow: #F1F5A5;
  --colors-green-tint-1: #B3E48E;
  --colors-green-tint-2: #8EC02E;
  --colors-green-tint-3: #E49C0F;
  --colors-green-tint-4: #FFCE70;
  --colors-green-tint-5: #E49C0F;
  --colors-green-shade-1: #5DAC22;
  --colors-green-shade-2: #468B13;
  --colors-green-shade-3: #336210;
  --colors-green-shade-4: #2B4C13;
  --colors-green-shade-5: #213512;
  --size-spacing-1: 0.0625rem;
  --size-spacing-2: 0.125rem;
  --size-spacing-4: 0.25rem;
  --size-spacing-8: 0.5rem;
  --size-spacing-16: 1rem;
  --size-spacing-32: 2rem;
  --size-spacing-64: 4rem;
  --size-spacing-72: 5rem;
  --size-spacing-none: 0rem;
  --size-radius-none: 0rem;
  --size-radius-4px: 0.25rem;
  --size-radius-8px: 0.5rem;
  --size-radius-16px: 1rem;
  --size-radius-32px: 2rem;
  --size-radius-48px: 3rem;
  --size-radius-64px: 4rem;
  --size-text-12: 0.75rem;
  --size-text-16: 1rem;
  --size-text-18: 1.125rem;
  --size-text-23: 1.4375rem;
  --size-text-29: 1.8215rem;
  --size-text-36: 2.25rem;
  --size-text-45: 2.8125rem;
  --size-text-56: 3.5rem;
  --size-text-70: 4.375rem;
  --size-text-88: 5.5rem;
  --size-text-96: 6rem;
  --size-sem-content-padding: 3rem;
  --size-sem-content-margin: ;
  --size-sem-navbar-height: 4rem;
}
